.git
__pycache__
*.pyc
.venv
.env
.pytest_cache
.mypy_cache
.ruff_cache
.idea
.vscode
*.egg-info
dist
build
demos
tests
.github
.gitignore
.pre-commit-config.yaml
CHANGELOG.md
CONTRIBUTING.md
mkdocs.yml
docs/
